
.css-12oz5g7{
    max-width: 100%;
    margin:5% 0;
}


.block-container{
    margin-top: 0;
    padding-top:20px;
}


.css-12ttj6m{
    background-color: #e6f1f5;
}




.stButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

